body {
    color: aliceblue;
    background-color: #1b1d38;
}

nav {
    display: flex;
    justify-content: center;

}

/* Remove the (current) in pagination. Ex: 1(Current) */
.sr-only {
    display: none;
}