.navbar {
    background-color: rgb(12, 12, 34);
}

a.navbar-brand {
    color: aliceblue !important;
}

a.nav-link {
    color: aliceblue !important
}

body {
    color: aliceblue;
    background-color: #1b1d38;
}

nav {
    display: flex;
    justify-content: center;
}

/* Remove the (current) in pagination. Ex: 1(Current) */
.sr-only {
    display: none;
}

.presentation {
    font-size: x-large;
}

.explanation {
    font-size: large;
    text-wrap: balance;
    width: 65%;
    text-align: center;
    margin: auto;
}

.color {
    background-color: aliceblue;
}
