<!-- index.html should greet user with input request of tags and
 other elements to find a list of games within the steamspyapi
 data base -->

{% extends "layout.html" %}
{% block main %}
    <h1>Find Your Game</h1>
    <form action="/" method="post">
        <div class="mb-3">
            <select class="js-example-basic-multiple" multiple="multiple" name="genres">
                {% for genre in genres %}
                <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select>

        </div>
        
        <div class="mb-3">            
            <select class="js-example-basic-multiple" multiple="multiple" name="tags">
                {% for tag in tags %}
                <option value="{{ tag }}">{{ tag }}</option>
                {% endfor %}
            </select>       
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>

     <link rel="stylesheet" href="static/index.css">
{% endblock %}