<!-- index.html should greet user with input request of tags and
 other elements to find a list of games within the steamspyapi
 data base -->

{% extends "layout.html" %}
{% block main %}
    <h1 class="mb-5">Find Your Game</h1>
    <form action="/" method="post">
        <div class="mb-3">
            <select class="js-basic-multiple" multiple="multiple" name="genres">
                {% for genre in genres %}
                <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select>

        </div>
        
        <div class="mb-4">            
            <select class="js-basic-multiple" multiple="multiple" name="tags">
                {% for tag in tags %}
                <option value="{{ tag }}">{{ tag }}</option>
                {% endfor %}
            </select>
            <p>Recomended number: 2-3</p>       
        </div>

        <div class="mb-4">
            <select class="js-basic-multiple" multiple="multiple" name="excludeds">
                {% for tag in tags %}
                <option value="{{ tag }}">{{ tag }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-4">
            <label for="copies">Copies sold/owners: </label>
            <input type="range" name="copies" min="0" max="50000000" step="100000" oninput="this.nextElementSibling.value = this.value">
            <output>25000000</output>
        </div>
        <input class="mb-5 btn btn-primary" type="submit" value="Submit">
    </form>
    <p>PS: Keep in mind tags are assigned to games by steam users and
        strange results are expected.
    </p>
     <link rel="stylesheet" href="static/index.css">
{% endblock %}