<!-- index.html should greet user with input request of tags and
 other elements to find a list of games within the steamspyapi
 data base -->

{% extends "layout.html" %}
{% block main %}
    <h1>Find Your Game</h1>
    <form action="/" method="post">
        <div class="mb-3">
            <label for="genres">Genre</label>

            <select class="js-example-basic-multiple" multiple="multiple" name="genres">
                <option value="Strategy">Strategy</option>
                <option value="Action">Action</option>
                <option value="Adventure">Adventure</option>
            </select>

            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
{% endblock %}