{% extends "layout.html" %}
    <title>Manual</title>
{% block main %}
    <h1 class="mb-4">How to use</h1>
    <div class="mb-5"><p>Find Your Game is a web site with the solo function of
        finding hidden or maybe unseen games by the user on the steam, 
        based on it's preferences you are suposse to find new games to try out.
        Here are some simple instructions to use it and find a desired amount of games,
        not a enormous catalog or no game at all:
    </p></div>

    <div class="mb-5 tutorial"><img src="static/images/Tutorial.png"></div>
    <div class="mb-5 tutorial"><img src="static/images/Tutorial2.png"></div>
    <div class="mb-5 tutorial"><img src="static/images/Tutorial3.png"></div>
{% endblock %}